<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
      
     <!-- <script src="/script.js"></script> -->
       
    <title></title>
</head>
<body>
    <h2>Details :: </h2>

    <form method="POST" >
        <table>
            <tr>
                <td><label for="blockNo">Block No</label></td>
                <td><input type="text" name="block" id="block"></td>
            </tr>
            
            
            <tr>

                <td><label for="flatNo">Flat No</label></td>
                <td><input type="text" name="flatNo" id="flatno"></td>
            </tr>
        
        
            <tr>
                <td><button id="main-button">Submit</button></td>
                <td> <label  id="status"></label></td>
            </tr>
            
            
            
           
       
        </table>

        </form>
 

</body>
</html>