<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Details :: </title>
</head>
<body>
    <h2>Details :: </h2>
    <form action="/getDetails" method="POST">
    <table>
        <tr>
            <td>Block No</td>
            <td><input type="text" name="block"></td>
        </tr>
        <tr>
            <td>Flat No</td>
            <td><input type="text" name="flatNo"></td>
        </tr>
        <tr>
            <td><input type="submit"></td>
            <td></td>
        </tr>
    </table>


    </form>

</body>
</html>