<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div>
        <form action="Dashboard" method="GET">
        <table>
            <tr>
                <td>Username</td>
                <td><input type="text" id="username"></td>
                
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" id="password"></td>
                
            </tr>
            <tr>
                <td><button>Submit</button></td>
                <td></td>
                
            </tr>
            
        </table>
    </form>
    </div>
    
</body>
</html>